body {
	background: white;
    color: black;
}
.navbar-brand {
    color: black;
}
.error {
	color: red;
}
.success {
	color: green;
}
.index-main {
	height: 600px;
    max-width:100%;
    max-height:75%;
    overflow:hidden;
    background: #fceabb; /* Old browsers */
    background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 38%, #fbdf93 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 38%,#fbdf93 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 38%,#fbdf93 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */

}

.text-container {
    width: 100%;
    padding: 25px 0 0 0;
    border-radius: 25px;
    background: white;
    max-height: 75%;
    }
.login-header {
    padding-top: 8px;
}
.btn {
    background: black;
    color: white;
}
.btn-caution {
    background: red;
    color: white;
}
.user-drop {
    padding-top: 8px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.white-text {
    color: white;
}
.glyphicon-wrench {
    color: white;
}
.saving {
    height: 200px;
    width: 100%;
}
.categories {
    float: left;
    border-color: red;
}
.items-list {
    height: 1000px;
    float: right;
    background:  #ccccff;
}
.caption{
    word-wrap: break-word;
}
.item {
    height: 325px;
    max-width: 325px;
}
.ten-left-pad{
    padding-left:10px
}
.desc {
    max-width:35%;
    max-height: 75%;
}