body {
	background: white;
    color: black;
}
.navbar-brand {
    color: black;
}
.main-color {
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2980b9 , #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2980b9 , #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
.error {
	color: red;
}
.success {
	color: green;
}
.index-main {
    vertical-align: baseline;
	min-height: 600px;
    max-width:100%;
    max-height:100%;
    padding-top: 15px;
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2980b9 , #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2980b9 , #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.text-container {
    width: 70%;
    padding: 25px 0 0 0;
    border-radius: 25px;
    background: white;
    height: 70%;
    max-height: 100%;
    }
.login-header {
    padding-top: 8px;
}
.btn {
    background: black;
    color: white;
}
.btn-caution {
    background: red;
    color: white;
}
.btn-accept {
    background: #00CC66;
    color: white;
}
.user-drop {
    padding-top: 8px;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.white-text {
    color: white;
}
.glyphicon-wrench {
    color: white;
}
.categories {
    float: left;
}
.items-list {
    height: 100%;
    float: right;
}
.caption{
    word-wrap: break-word;
}
.item {
    height: 325px;
    max-width: 325px;
}
.ten-left-pad{
    padding-left:10px
}
.desc {
    max-width:35%;
    max-height: 75%;
}
.browse-des {
    height: 120px;
    overflow: hidden;
}
.thumbnail {
    height: 300px;
    max-height: 300px;
}
.comment {
    height: 300px;
    width: 100%;
}
.round-egde {
    border-radius: 25px;
}
.comment-section {

    padding-top: 15px;
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2980b9 , #2c3e50); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2980b9 , #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
.poster {
    overflow: auto;
    color: white;
    background: transparent;
    border: 5px solid white;
}
.add-tool {
    
}
