@*@(user: Users, profile: Profile, userTools: List[Tool], toolTypeList: List[ToolType])

@main(user.username) {
<div class="add-tool text-center">
    <form action="@routes.Tools.create()" method="post">
        <label for="name">Tool Name</label>
        <input type="text" name="name" required>
        <label for="description">Description</label>
        <input type="text" name="description" required>
        <button class="btn btn-default">Add Tool</button>
        <select name="type_id">
            <option value="">Select type</option>
            @for(t <- toolTypeList){
            <option value="@t.id">@t.name</option>
            }
        </select>
    </form>
    @if(session.containsKey("privilege") && (session.get("privilege") == "Administrator")){
    <form action="@routes.ToolTypes.create()" method="post">
        <label for="name">Type Name</label>
        <input type="text" name="name" required>
        <button>Add Type</button>
    </form>
    }
</div>


<h4>Tools own by @user.username</h4>
<table style="width:100%" border="1">
    <tr>
        <td>Tool Name</td>
        <td>Description</td>
        <td>Request Count</td>
        <td>Action</td>
    </tr>
    @for(t <- userTools) {
    <tr>
        <td><a href="@routes.Tools.eachTool(t.id)">@t.name</a></td>
        <td>@t.description</td>
        <td>@if(t.requestCount > 0) {
            <a class="btn btn-default" href="@routes.Tools.eachTool(t.id)">View Requests</a>
            } else { @if(t.borrower != null) {
            @if(t.requestReturn) {
            <form action="@routes.Tools.acceptReturn(t.id)" method="post">
                <button class="btn btn-default">Accept Return</button>
            </form>
            } else {
            <a href="@routes.cUsers.profile(t.borrower.id)">Borrowed</a>
            }} else {
            Available
            }}
        </td>
        <td><form action="@routes.Tools.remove(t.id)" method="post">
            <button class="btn btn-caution" >Delete</button>
        </form></td>
    </tr>
    }
</table><br>

}*@