<div class="container">
    <a href="@routes.Application.index()" class="navbar-brand navbar-left " >CTS</a>

    @*******************
    * Check session if user is logged in *
    *******************@

    @if(session.containsKey("user_id")){

    <div class="nav navbar-right"> 
        <div class="dropdown user-drop">
                Hello,
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">@Users.find.byId(Long.parseLong(session.get("user_id"))).username
                <span class="caret"></span>
            </button> 
            <ul class="dropdown-menu">
                <li><a href="@routes.Tools.index()">Add Tools</a></li>
                <li><a href="@routes.Application.logout()">Log out</a></li>
            </ul>
        </div>
    </div>

    } else {
    <div class="navbar-right login-header">
        <div class="pull-left">
            <form class="form-inline" action="@routes.Application.login()" method="post">
                <input type="text" placeholder="Username" name="username" required>
                <input type="password" placeholder="Password" name="password" required>
                <button class="btn btn-default">Login</button>
             </form>
        </div>
        <div class="pull-right">
            <form action="@routes.Application.onSignUpClick()" method="get">
                <button class="btn btn-default" >Sign up!</button>
            </form>
        </div>
    </div>
    }
</div>
