@(title: String)

@main(title) {

    <div class="jumbotron index-main">
        
        <div class="text-container center-block">
            <h2 style="padding-left:10px">CTS</h2>
            <p class="text-center">Borrow tools instead of buying!<br>
           	Share tools with others users! 
            </p> 
            <form action="#" method="get">
                <button class="btn btn-default center-block">
                 Browse<span class="glyphicon glyphicon-wrench"></span>
            </button>            
            </form>
    	</div>


        @if(flash.containsKey("success")) {
            @*<p>Success!:</p>*@
            <p class="text-center success">@flash.get("success")</p>
        } else { @if(flash.containsKey("error")) {
            @*<p>Error!:</p>*@
            <p class="text-center error">@flash.get("error")</p>
        }}
    </div>
}