@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>

    </head>
    <body>

        @header()
@*
        @if(session.containsKey("user_id")){
            @navigation()
        }
        *@

        @if(flash.containsKey("success")) {
                    @*<p>Success!:</p>*@
                    <p class="text-center alert alert-success">@flash.get("success")</p>
                } else { @if(flash.containsKey("error")) {
                    @*<p>Error!:</p>*@
                    <p class="text-center alert alert-danger">@flash.get("error")</p>
                }}

        @content


        
    </body>

    
</html>
